In [1]:

import pandas as pd

In [2]:
df = pd.read_excel('Stats.xlsx', sheet_name='Sheet1')

In [3]:
df.describe()

            Emp#  YearsOfExp  Salary in Rs.
count  25.000000   25.000000      25.000000
mean   13.000000    6.200000   77821.200000
std     7.359801    3.175426   39847.615281
min     1.000000    1.000000   12598.000000
25%     7.000000    3.000000   37592.000000
50%    13.000000    7.000000   87654.000000
75%    19.000000    9.000000  113112.000000
max    25.000000   10.000000  126015.000000

In [4]:
df.head()

   Emp#  YearsOfExp  Salary in Rs.
0     1          10         126015
1     2           1          12598
2     3           8         100639
3     4          10         125351
4     5           2          25031

In [5]:
df['YearsOfExp'].median()

7.0

In [6]:
df['YearsOfExp'].mean()

6.2

In [7]:
df['YearsOfExp'].mode()

0    10
dtype: int64

In [8]:


print 'Salary Median :',df['Salary in Rs.'].median()
print 'Salary Mean :',df['Salary in Rs.'].mean()
print 'Salary Mode :',df['Salary in Rs.'].mode()

Salary Median : 87654.0
Salary Mean : 77821.2
Salary Mode : 0    100639
dtype: int64

In [9]:
#determine the standard deviation and variance through python scripting.

In [10]:
print 'Variance in YearsOfExp :',df['YearsOfExp'].var()
print 'Standard Deviation in YearsOfExp :',df['YearsOfExp'].std()

Variance in YearsOfExp : 10.083333333333334
Standard Deviation in YearsOfExp : 3.1754264805429417

In [11]:
print 'Variance of Salary in Rs. :',df['Salary in Rs.'].var()
print 'Standard Deviation of Salary in Rs. :',df['Salary in Rs.'].std()

Variance of Salary in Rs. : 1587832443.5833333
Standard Deviation of Salary in Rs. : 39847.61528100939