In [15]:
import nltk
from nltk.chunk import ne_chunk
from nltk.tokenize import sent_tokenize
import pandas as pd

In [ ]:
#nltk.download_shell() -> was run and below commented packages were downloaded due to errors

In [ ]:
#punkt, averaged_perceptron_tagger, maxent_ne_chunker, words

In [16]:
df = pd.read_csv('data_in.csv')

In [17]:
df.head()

                                             Comment
0  "Hello there, how are you? Weather is awesome....
1  "Hello Mr. Raja, how are you? Weather is aweso...
2  "Hello Mr. Raja, how are you. Weather is bad. ...
3  "NLP is great technique. It is nice to learn t...
4  "AI is making difference in this world now.  I...

In [18]:
df['NE_chunk_Sent_tokenize'] = df['Comment'].apply(lambda word : ne_chunk((sent_tokenize(word))) )

In [19]:
df.head()

,Comment,NE_chunk_Sent_tokenize
0,"""Hello there, how are you? Weather is awesome....","[""Hello there, how are you?, Weather is awesom..."
1,"""Hello Mr. Raja, how are you? Weather is aweso...","[""Hello Mr. Raja, how are you?, Weather is awe..."
2,"""Hello Mr. Raja, how are you. Weather is bad. ...","[""Hello Mr. Raja, how are you., Weather is bad..."
3,"""NLP is great technique. It is nice to learn t...","[""NLP is great technique., It is nice to learn..."
4,"""AI is making difference in this world now. I...","[""AI is making difference in this world now., ..."

In [20]:
df['NE_chunk_Sent_tokenize']

0    ["Hello there, how are you?, Weather is awesom...
1    ["Hello Mr. Raja, how are you?, Weather is awe...
2    ["Hello Mr. Raja, how are you., Weather is bad...
3    ["NLP is great technique., It is nice to learn...
4    ["AI is making difference in this world now., ...
Name: NE_chunk_Sent_tokenize, dtype: object

In [22]:
df.to_csv('data_out.csv', index=False)