In [1]:
import nltk

import pandas as pd

In [11]:
nltk.download_shell()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> d

Download which package (l=list; x=cancel)?
  Identifier> words
    Downloading package words to
        C:\Users\AM326868\AppData\Roaming\nltk_data...
      Unzipping corpora\words.zip.

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

In [ ]:
#punkt, averaged_perceptron_tagger, maxent_ne_chunker, words

In [3]:
from nltk.chunk import ne_chunk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

In [13]:
df = pd.read_csv('data_in.csv')

In [14]:
df.head()

                                             Comment
0  "Hello there, how are you? Weather is awesome....
1  "Hello Mr. Raja, how are you? Weather is aweso...
2  "Hello Mr. Raja, how are you. Weather is bad. ...
3  "NLP is great technique. It is nice to learn t...
4  "AI is making difference in this world now.  I...

In [17]:
for word in df['Comment']:
    print word

"Hello there, how are you? Weather is awesome. Its raining here now."
"Hello Mr. Raja, how are you? Weather is awesome. Its raining here now."
"Hello Mr. Raja, how are you. Weather is bad. Its heavily raining here now."
"NLP is great technique. It is nice to learn this technique."
"AI is making difference in this world now.  It would be helpful for betterment of human life. We need to make advantage of that."

In [ ]:

for word in df['Comment']:
    chunk_sentence = ne_chunk(pos_tag(word_tokenize(word)))
    print (chunk_sentence)
    #chunk_sentence.draw()

In [19]:

chunk_sentence = ne_chunk(pos_tag(word_tokenize('My name is AnilKumar.')))
print (chunk_sentence)

(S My/PRP$ name/NN is/VBZ (ORGANIZATION AnilKumar/NNP) ./.)

In [23]:
df['NE_chunk'] = df['Comment'].apply(lambda word : ne_chunk(pos_tag(word_tokenize(word))) )

In [24]:
df.head()

,Comment,NE_chunk
0,"""Hello there, how are you? Weather is awesome....","[(``, ``), (Hello, NNP), (there, RB), (,, ,), ..."
1,"""Hello Mr. Raja, how are you? Weather is aweso...","[(``, ``), [(Hello, NNP), (Mr., NNP), (Raja, N..."
2,"""Hello Mr. Raja, how are you. Weather is bad. ...","[(``, ``), [(Hello, NNP), (Mr., NNP), (Raja, N..."
3,"""NLP is great technique. It is nice to learn t...","[(``, ``), [(NLP, NNP)], (is, VBZ), (great, JJ..."
4,"""AI is making difference in this world now. I...","[(``, ``), (AI, NNP), (is, VBZ), (making, VBG)..."

In [28]:
print df['NE_chunk'][1]

(S
  ``/``
  (PERSON Hello/NNP Mr./NNP Raja/NNP)
  ,/,
  how/WRB
  are/VBP
  you/PRP
  ?/.
  Weather/''
  is/VBZ
  awesome/JJ
  ./.
  Its/PRP$
  raining/VBG
  here/RB
  now/RB
  ./.
  ''/'')

In [26]:
df2 = pd.read_csv('data_out.csv')
df2.head()

,Comment,NE_chunk
0,"""Hello there, how are you? Weather is awesome....",(S\r\n ``/``\r\n Hello/NNP\r\n there/RB\r\n...
1,"""Hello Mr. Raja, how are you? Weather is aweso...",(S\r\n ``/``\r\n (PERSON Hello/NNP Mr./NNP R...
2,"""Hello Mr. Raja, how are you. Weather is bad. ...",(S\r\n ``/``\r\n (PERSON Hello/NNP Mr./NNP R...
3,"""NLP is great technique. It is nice to learn t...",(S\r\n ``/``\r\n (ORGANIZATION NLP/NNP)\r\n ...
4,"""AI is making difference in this world now. I...",(S\r\n ``/``\r\n AI/NNP\r\n is/VBZ\r\n mak...